@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Geist", system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

@layer base {
  body {
    @apply text-zinc-100;
  }
}
